In [92]:
import pandas as pd
import numpy as np

In [93]:
df = pd.read_csv('/content/supershops.csv')

In [94]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [95]:
df2 = df.copy()
df3 = df.copy()
df4 = df.copy()
df5 = df.copy()
df6 = df.copy()
df7 = df.copy()

**Normalization**

In [96]:
from sklearn.preprocessing import MinMaxScaler
m = MinMaxScaler() #default feature_range=(0,1)

In [97]:
df_ms = m.fit(df[['Profit']])

In [98]:
df_ms

MinMaxScaler()

In [99]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [100]:
df[['Profit']] = m.transform(df[['Profit']])

In [101]:
df.head()

   Marketing Spend  Administration  Transport     Area    Profit
0        114523.61       136897.80  471784.10    Dhaka  1.000000
1        162597.70       151377.59  443898.53      Ctg  0.997355
2        153441.51       101145.55  407934.54  Rangpur  0.993178
3        144372.41       118671.85  383199.62    Dhaka  0.947292
4        142107.34        91391.77  366168.42  Rangpur  0.853171

In [102]:
df[['Administration']] = m.fit_transform(df[['Administration']])
df.head()

   Marketing Spend  Administration  Transport     Area    Profit
0        114523.61        0.651744  471784.10    Dhaka  1.000000
1        162597.70        0.761972  443898.53      Ctg  0.997355
2        153441.51        0.379579  407934.54  Rangpur  0.993178
3        144372.41        0.512998  383199.62    Dhaka  0.947292
4        142107.34        0.305328  366168.42  Rangpur  0.853171

**Perform Normalization Using Loop**

In [103]:
import csv

In [104]:
with open('/content/supershops.csv', 'r') as file:
    reader = csv.reader(file)
    data = list(reader)

In [105]:
for row in data:
    for i in range(4):  # Assuming there are 4 string columns to normalize
        value = row[i].strip().lower()  
        row[i] = value

In [106]:
with open('supershops_normalized.csv', 'w', newline='') as file:#The normalized data will be saved in a new file called 'supershops_normalized.csv'
    writer = csv.writer(file)
    writer.writerows(data)

**Standardization**

In [107]:
from sklearn.preprocessing import StandardScaler
s = StandardScaler()

In [108]:
df_ss = s.fit(df[['Profit']])

In [109]:
df_ss

StandardScaler()

In [110]:
df.head()

   Marketing Spend  Administration  Transport     Area    Profit
0        114523.61        0.651744  471784.10    Dhaka  1.000000
1        162597.70        0.761972  443898.53      Ctg  0.997355
2        153441.51        0.379579  407934.54  Rangpur  0.993178
3        144372.41        0.512998  383199.62    Dhaka  0.947292
4        142107.34        0.305328  366168.42  Rangpur  0.853171

In [111]:
df[['Profit']] = s.transform(df[['Profit']])
df.head()

   Marketing Spend  Administration  Transport     Area    Profit
0        114523.61        0.651744  471784.10    Dhaka  2.011203
1        162597.70        0.761972  443898.53      Ctg  1.999430
2        153441.51        0.379579  407934.54  Rangpur  1.980842
3        144372.41        0.512998  383199.62    Dhaka  1.776627
4        142107.34        0.305328  366168.42  Rangpur  1.357740

**Log Transformation**

In [112]:
from sklearn.preprocessing import FunctionTransformer
ft = FunctionTransformer(np.log1p) #np.log1p will avoid 0

In [113]:
df2.head(2)

   Marketing Spend  Administration  Transport   Area     Profit
0        114523.61       136897.80  471784.10  Dhaka  192261.83
1        162597.70       151377.59  443898.53    Ctg  191792.06

In [114]:
df2['Transport'] = ft.fit_transform(df2[['Transport']])

In [115]:
df2.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  13.064279    Dhaka  192261.83
1        162597.70       151377.59  13.003354      Ctg  191792.06
2        153441.51       101145.55  12.918864  Rangpur  191050.39
3        144372.41       118671.85  12.856314    Dhaka  182901.99
4        142107.34        91391.77  12.810851  Rangpur  166187.94

**Robust Scaler**

In [116]:
from sklearn.preprocessing import RobustScaler

In [117]:
transformer = RobustScaler()

In [118]:
df4.head(4)

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99

In [119]:
df4['Administration'] = transformer.fit_transform(df4[['Administration']])

In [120]:
df4.head(4)

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61        0.345355  471784.10    Dhaka  192261.83
1        162597.70        0.697565  443898.53      Ctg  191792.06
2        153441.51       -0.524290  407934.54  Rangpur  191050.39
3        144372.41       -0.097977  383199.62    Dhaka  182901.99

**Max Absolute Scaler**

In [121]:
from sklearn.preprocessing import MaxAbsScaler
transformer = MaxAbsScaler()

In [122]:
df3.head(3)

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39

In [123]:
df3['Profit'] = transformer.fit_transform(df3[['Profit']])

In [124]:
df3.head(3)

   Marketing Spend  Administration  Transport     Area    Profit
0        114523.61       136897.80  471784.10    Dhaka  1.000000
1        162597.70       151377.59  443898.53      Ctg  0.997557
2        153441.51       101145.55  407934.54  Rangpur  0.993699